<link rel="stylesheet" href="soporte.css" />
<script src="soporte.js"></script>
<section id="soporte">
    <h1 class="titulo smallcaps">Soporte</h1>
    <hr>
    <br>
    <br>
    <p>
        Escribe lo más detalladamente posible tu pregunta, ruego o sugerencia.<br>
        Marca en el desplegable que tipo de questión es.<br>
        Escribe tu correo electrónico y nos pondremos en contacto contigo lo antes posible.<br>
    </p>
    <p>
        Si no recibes respuesta en un par de dias, escribe a esta dirección: soporte@tintracker.es<br>
        O llama al teléfono: +34 673 522 260.<br>
    </p>
    <br>
    <br>
    <div class="centering">
        <div class="vertical centering">
            <span class="input-email">
                <input id="email" class="text-input" style="width: 30vw;" type="email" autocomplete="email" contenteditable="true" placeholder="Tu correo electrónico">
            </span>
            <br>
            <span>
                <textarea id="multiline" class="multiline-input" style="width: 30vw;" name="textarea" rows="10" cols="46" placeholder="Tu problema"></textarea>
            </span>
        </div>
        <br>
        <div class="vertical centering" style="justify-content: flex-start; width: 35%;">
                <select id="select" class="selection-input">
                    <option value="0" disabled hidden selected>Escoge el tipo de questión</option>
                    <option value="1">Pregunta</option>
                    <option value="2">Ruego o sugerencia</option>
                    <option value="3">Queja</option>    
                </select>
                <br>
                <button id="enviar" class="submit btn">Enviar</button>
                <br>
                <span id="error" style="display: none;">No se ha podido enviar los datos al servidor por que:${error}</span>
        </div>
    </div>
</section>