@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/spacemono/v11/i7dPIFZifjKcF5UAWdDRYE98RWq7.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/spacemono/v11/i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-family: 'Space+Mono',monospace;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url('/RESOURCES/FONDO.jpg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
}
/*-----------------------*/
/* CSS DE LA PAGINA BASE */
/*-----------------------*/

header{
	display: block;
    font-size: large;
    font-weight: bold;
    color: black;
    max-height: 15vh;
    width: 100%;
    border-bottom: 0.5vh solid black;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0.25vh 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.25vh);
    -webkit-backdrop-filter: blur(1.5vh);
    /* box-shadow: 0px 0.025vh 20px black; */
}

body main#main{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 7vh;
}

body main#main section#body{
    height: auto;
    min-height: 79vh;
    max-height: max-content;
    width: 70vw;
    border: 0.5vh solid black;
    border: 0.5vh solid black;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    box-shadow: 0px 1.25vh 20px rgba(0, 0, 0, 0.8);
}
body main#main section#body section{
    width: 59vw;
}

footer{
    display: block;
    font-size: small;
    font-weight: bold;
    color: white;
    background-color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    min-height: 5vh;
    height: fit-content;
    /* max-height: 15vh; */
    /* border-top: 2px solid black; */
}


#heart{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    color: darksalmon;
    background-color: transparent;
    animation-name: heart_rate;
    animation-duration:  2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes heart_rate {
    0% {
        color: palevioletred;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
    50% {
        color: red;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
}
    100% {
        color: palevioletred;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}
