.check{
    color: #000;
    background-color: white;
    padding: 1vh 1vw;
    border: 0.5vh solid black;
}
.check-true,
.check.true{
    background-color: rgba(53, 225, 44, 0.485);
    border-color: green;
}
.check-false,
.check.false{
    background-color: rgba(255, 166, 0, 0.421);
    border-color: orangered;
}

h1.titulo{
    font-weight: bolder;
    font-size: 5vh;
}
.subtitulo{
    font-weight: bold;
}
h3.midtitulo{
    text-align: center;
}
.smallcaps{
    font-variant: small-caps;
}
.input-invalid{
    border-color: red !important;
    background-color: rgba(255, 0, 0, 0.25) !important;
}
.input-valid{
    color: white !important;
    background-color: black !important;
}
.input.email,
.input-email{
    display: inline-flex;
    /* background-color: white; */
    /* border: 0.5vh solid black; */
    height: 5vh;
    min-width: 30vw;
    justify-content: stretch;
    justify-items: stretch;
}
.text-input,
.text-input:focus,
.text-input::selection,
.text-input:focus-visible{
    color: #000;
    background-color: white;
    font-size: larger;
    padding: 0.75vh 0.75vw;
    border: 0.5vh solid black;
    border-radius: 0vh !important;
    outline: none !important;
    -webkit-border-radius: 0vh !important;
    -moz-border-radius: 0vh !important;
    -ms-border-radius: 0vh !important;
    -o-border-radius: 0vh !important;
}
.multiline-input,
.multiline-input:focus,
.multiline-input:focus-visible{
    color: #000;
    background-color: white;
    font-size: larger;
    padding: 0.75vh 0.75vw;
    border: 0.5vh solid black;
    border-radius: 0vh !important;
    outline: none;
    resize: none;
    -webkit-border-radius: 0vh !important;
    -moz-border-radius: 0vh !important;
    -ms-border-radius: 0vh !important;
    -o-border-radius: 0vh !important;
}
.selection-input,
.selection-input:focus,
.selection-input::selection,
.selection-input:focus-visible{
    height: 5vh;
    color: #000;
    background-color: white;
    font-size: larger;
    padding: 0.75vh 0.75vw;
    border: 0.5vh solid black;
    border-radius: 0vh !important;
    outline: none;
    -webkit-border-radius: 0vh !important;
    -moz-border-radius: 0vh !important;
    -ms-border-radius: 0vh !important;
    -o-border-radius: 0vh !important;
}
ul{
    margin-left: 2.5%;
}
.centering{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    color: #000;
    background-color: white;
    padding: 1vh 1vw;
    border: 0.5vh solid black;
}
.vertical-centering,
.vertical.centering{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* button, */
.btn{
    transition: 0.2s;
    color: #000;
    background-color: white;
    border: 0.5vh solid black;
    text-align: center;
    padding: 1vh;
    font-size: large;
    font-weight: bold;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
/* button:hover, */
.btn:hover{
    transition: 0.15s 0.1s;
    color: white;
    background-color: #000;
    -webkit-transition: 0.15s 0.1s;
    -moz-transition: 0.15s 0.1s;
    -ms-transition: 0.15s 0.1s;
    -o-transition: 0.15s 0.1s;
}

.no-frame{
    padding: 0px;
    border: none;
    background-color: transparent;
}
.menu{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}
.item
{
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

/* a:any-link{
    color: #000;
    text-decoration: none;
} */
.link:any-link{
    font-weight: bold;
}

div.tercios{
    display: flex;
    align-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    justify-items: center;
}

div.tercios div.tercio{
    min-width: 15vw; 
    max-width: 30vw;
    width: fit-content;
    align-self: center;
    text-align: center;
}

div.tercios div.tercio a:any-link{
    color: white;
}

.debug{
    border: 1px solid red;
}
/*-----------------------------------------------------------------------------------------------------------------*/
.bg-pan-left:hover{
	background-color: transparent;
	background-image: repeating-linear-gradient(to bottom right,white,orange,yellow,lightgreen,lightblue,white);
	animation: bg-pan-left 1s ease-in-out infinite alternate both;
	-webkit-animation: bg-pan-left 1s ease-in-out infinite alternate both;
}
@keyframes bg-pan-left {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}
  
.pulsating:hover{
    animation: pulsate 1s ease-out infinite alternate-reverse both;
    -webkit-animation: pulsate 1s ease-out infinite alternate-reverse both;
}
@keyframes pulsate {
0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
}
