<link rel="stylesheet" href="acercade.css" />
<script src="acercade.js"></script>
<section id="acercade">
    <div class="container no-frame vertical centering">
        <div>
            <h1>Nuestra filosofía</h1>
            <hr>
            <br> 
            <br>
            <p>
            Cada estilista tiene una de las labores más complejas de todas, dar forma física a la personalidad de cada individuo. Y en tiempo récord.<br>
            En el equipo de TinTracker conocemos algunas de las dificultades del mundo moderno y su sobrecomplejidad.<br>
            Así que hemos diseñado el sistema de TinTracker para que facilite las tareas que no están tan relacionadas con el estilismo y la estética.<br>
            Ofrecemos un servicio que anualmente o mediante suscripción es actualizado según tus proposiciones.<br>
            Como sabemos que no todo el mundo tiene visión de lince o águila, nos comprometemos a hacer botones fácilmente visibles y una interfaz clara y sencilla.<br>
            El tiempo también es un factor importante entre cliente y cliente, nos comprometemos a tener POCOS botones y acciones rápidas.<br>
            Y como los hackers cada día parecen menos de película, intentamos mantener nuestras tecnologías lo más seguras y punteras. Esperamos que no se nos cuele un James Bond en la empresa.
            </p>
            <br> 
            <br> 
            <br> 
            <br> 
        </div>
        <div>
            <h1>Nuestro equipo</h1>
            <hr>
            <br> 
            <br> 
            <p>
            Somos un equipo joven y dinámico.<br> 
            Comprometido con nuestros proyectos y nuestros clientes.<br> 
            Con mucha experiencia y buenas ideas a pesar de nuestra edad.<br> 
            Nos enfocamos en resolver problemas del mundo real para gente real.<br> 
            </p>
        </div>
    </div>
</section>