<link rel="stylesheet" href="error/error.css" />
<script src="error/error.js"></script>
<section id="error_page">
    <div id="error_container" class="container centered">
        <div>
            ¡ME HE PERDIDO!
        </div>
        <br>
        <div>
            Navegar por internet es muy complicado, y sobretodo, sin un buen mapa!
        </div>
        <br>
        <div>
            No se que ha pasado, pero parece que:
            <br><br><br>
            ${error}
        </div>
    </div>
</section>