section#error_page{
    background-image: url('/RESOURCES/mapa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    /* margin: 11vh; */
    /* border-style: solid;
    border-width: 1px;
    border-color: white; */
    width: 97.5% !important;
    min-height: 75vh !important;
    /* height: 750px; */
}

#error_container{
    min-height: 35vh !important;
    max-width: 90% !important;
    min-width: 60vw !important;
}