<link rel="stylesheet" href="home.css" />
<script src="home.js"></script>
<section id="home">
    <section id="presentacion">
        <h1 class="titulo">TINTRACKER</h1>
        <p class="subtitulo">Sencillez y simpleza.<br>Para centros de estética y estilo.<br>Personalidad y belleza.</p>
        <br>
        <hr>
        <br>
        <br>
        <br>
        <h3 class="midtitulo">Apunta tus clientes y sus tratamientos personalizados.</h3>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <p>
            <b>TinTrackers</b> está diseñado para que puedas <b>gestionar</b> tus clientes y sus tratamientos favoritos de una manera <b>fácil, rápida y sencilla</b>.<br>
            Porque <b>TinTrackers</b> es:
        </p>
        <br>
        <div class="container no-frame centering">
            <div class="container no-frame vertical-centering">
                <!-- <p><b>Fácil, rápdio y simple.</b>Con una interfaz sin muchos botones y sin complicaciones.</p> -->
                <p><b>Es seguro</b>. Con nuestro sistema de cifrado único.</p>
                <p><b>Es fiable.</b> No lo puedes perder, siempre va a estar en el ordenador para ti, con o sin internet.</p>
                <p><b>Es barato.</b> Otros sistemas, diseñados a medida o genéricos suelen costar más del doble incluso más de 10 veces el precio de la suscripción a TinTracker.</p>
                <p><b>Ampliable y personalizable</b>, con un sistema de <b>mejora continua</b>.</p>
                <p><b>Funciona en cualquier ordenador</b>, da igual la potencia.</p>
            </div>
            <img id="image" src="RESOURCES/tt_home_.PNG" alt="Imagen de la interfaz del programa mostrando datos de ejemplo" role="complementary">
        </div>
        <br>
        <br>
        <p>Si quieres conocer las novedades apúntate a nuestra <a href="/newsletter" class="link">newsletter</a></p>
    </section>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <br>
    <section>
        <div class="container no-frame vertical-centering">
            <h3 class="midtitulo">Te lo explicamos TODO.</h3> 
             <!-- añadir otra seccion en la web? -->
            <br>
            <br>
            <br>
            <hr>
            <br>
            <p> Cómo <b>funciona</b>:<br>
                <ul>
                    <li>
                        Arranca el programa y listo!
                    </li>
                    <li>
                        Se actualiza automáticamente para una mejor experiencia y seguridad.
                        <!-- <ul>
                            <li>
                                Tú disfrutas de un número único para activar el programa con el que puedes acceder a todo.<br>
                            </li>
                            <li>
                                Tu número o token se cambia con cada actialización, pero no te enterarás, así te mantenemos más seguro/a.<br>
                            </li>
                            <li>
                                En el apratado de <a href="/myspace" class="link">tu espacio</a>, podrás acceder a toda tu información, como el token que te pertenece.<br>
                            </li>
                        </ul> -->
                    </li>
                    <!-- <li>
                        En el apartado de <a href="/ventas" class="link">ventas</a> tienes más información sobre los precios y suscripciones.
                    </li> -->
                </ul>
            </p>
            <br>
            <p> Qué pasa con los <b>datos</b>:<br>
                <ul>
                    <li>
                        Igual que los pones los quitas, no se quedan en el ordenador escondidos si quieres borralos.
                    </li>
                    <li>
                        Con nuestro sistema podrás almacenar muchisimos datos sin miedo a perderlos en caso de quedarte sin internet.
                    </li>
                    <!-- <li>
                        Con su sistema de base de datos distribuida, permite almacenar muchisimos datos sin miedo a perderlos en caso de quedarte sin internet.
                    </li> -->
                    <li>
                        Con nuestro sistema de cifrado es <i>casi</i> imposible robar los datos de ningún cliente.
                    </li>
                    <li>
                        Todos los datos que recaba son para el uso de la aplicación, no se usarán para ningún otro propósito.
                    </li>
                </ul>
            </p>
            <br>
            <p> Qué <b>Ventajas</b> tiene:<br>
                <ul>
                    <li>
                        Es fácil de usar, no necesitaras estudiarte un pesadísimo y larguísimo manual.
                    </li>
                    <li>
                        Es multiplataforma, puedes usarlo en cualquier ordenador, no importa la potencia o el sistema operativo.
                    </li>
                </ul>
            </p>
            <br>
        </div>
    </section>
</section>