<link rel="stylesheet" href="newsletter.css" />
<script src="newsletter.js"></script>
<section id="newsletter">
    <h1 class="titulo smallcaps">Blog y actualidad para TINTRACKERos.</h1>
    <hr>
    <br>
    <br>
    <div id="landing">
        <p class="centering">
            Pon tu correo para entrar en la lista de contactos de TINTRACKERos y recibir las últimas noticias y actualizaciones.
        </p>
        <br>
        <br>
        <div class="centering">
            <span class="input-email">
                <input id="email" class="text-input" style="width:85%;" type="email" autocomplete="email" contenteditable="true" placeholder="Tu correo electrónico">
                <button id="enviar" class="btn submit">Enviar</button>
            </span>
        </div>
        <div class="centering">
            <span id="error" style="display: none;">No se ha podido enviar los datos al servidor por que:${error}</span>
        </div>
    </div>
    <div id="leaving" class="vertical centering">
        <p class="centering">
            Gracias por suscribirte la newsletter! De ahora en adelante recibirás nuestras últimas noticias!
        </p>
        <br>
        <br>
        <form action="/" method="get" class="centering">
                <button class="btn">Inicio</button>
        </form>
    </div>
</section>