<link rel="stylesheet" href="ventas.css" />
<script src="ventas.js"></script>
<section id="ventas">
    <h1 class="titulo smallcaps">Precios</h1>
    <br>
    <hr>
    <br>
    <br>
    <p>
        En el resto de la web ya explicamos brevemente el funcionamiento del programa.<br>
        Ahora los precios.
        <br>
        <br>
        Tenemos varios tipos de precios para adaptarnos a ti. Los dividimos en 2:
        <ul>
            <li><a href="/ventas#suscripciones">Precio por suscripción.</a></li>
            <li><a href="/ventas#anual">Precio por versión anual.</a></li>
        </ul>
        <br>
        
    </p>
    <br>
    <hr>
    <br>
    <br>
    <section id="suscripciones">
        <h2 class="titulo smallcaps">Suscripciones</h2>
        <br>
        <p>
            Las suscripciones te permitirán pagar cómo te sea más comodo.<br>
            <br>
            <h3 class="titulo smallcaps">Qué ventajas tiene:<br></h3>
            <ul>
                <li>
                    Mensualmente, se enviara un correo con una enquesta voluntaria para la proposicion de mejoras y cambios.
                </li>
                <li>
                    Actualizaciones mensuales.
                </li>
                <li>
                    Tras la libración de la actualización, se enviara un correo con los cambios de la nueva versión.
                </li>
                <li>
                    Soporte técnico prioritario.
                </li>
                <li>
                    Se puede cancelar en cualquier momento.
                </li>
            </ul>
            <br>
            <h3 class="titulo smallcaps">Más en detalle:<br></h3>
            <ul>
                <li>
                    <b>Actualizaciones mensuales</b>: A mes vencido, un mes después de la encuesta, se actualizara el programa con las mejoras y cambios propuestos y considerados por el equipo. Es posible que no todas las propuestas de mejora o cambio entren en la siguiente version. Los cambios más populares se insertaran en la version siguiente.
                </li>
                <li>
                    <b>Soporte técnico prioritario</b>: Cuando ocurra algún fallo, el programa nos lo comunicará(tanto al equipo, cómo a ti) automáticamente y trabajaremos muy duro para solucionarlo. En caso de que el problema persista tras una actualización o no se comunique, en la web hay un apartado de soporte técnico. Importante, notificar solo questiones relacionadas con el programa, sino entrará en el modo de baja prioridad.
                </li>
                <li>
                    <b>Se puede cancelar en cualquier momento</b>: Perderás acceso al programa al principio del siguiente ciclo de facturacion.
                </li>
            </ul>
            <br>
            <h3 class="titulo smallcaps">Precios:</h3>
            <br>
            <ul>
                <li>
                    <b>Suscripción Mensual:</b>
                    <br>
                    Se te cobrará el mismo día del mes todos los meses.
                    <br>
                    Cuesta 20€ al mes.
                </li>
                <br>
                <li>
                    <b>Suscripción BI-Mensual:</b>
                    <br>
                    Se te cobrará el mismo día del mes cada 2 meses.
                    <br>
                    Cuesta 38€ cada 2 meses. (Ahorras: 5%)
                </li>
                <br>
                <li>
                    <b>Suscripción TRI-Mensual:</b>
                    <br>
                    Se te cobrará el mismo día del mes cada 3 meses.
                    <br>
                    Cuesta 55€ cada 3 meses. (Ahorras: 8,34%)
                </li>
                <br>
                <li>
                    <b>Suscripción CUADRA-Mensual:</b> 
                    <br>
                    Se te cobrará el mismo día del mes cada 4 meses.
                    <br>
                    Cuesta 72€ cada 4 meses. (Ahorras: 10%)
                </li>
                <br>
                <li>
                    <b>Suscripción HEXA-Mensual:</b>
                    <br>
                    Se te cobrará el mismo día del mes cada 6 meses.
                    <br>
                    Cuesta 106€ cada 6 meses. (Ahorras: 11,7%)
                </li>
                <br>
                <li>
                    <b>Suscripción Anual:</b>
                    <br>
                    Se te cobrará el mismo día del año cada año.
                    <br>
                    Cuesta 200€ cada 6 meses. (Ahorras: 17%)
                </li>
                <br>
                <li>
                    <b>Plan personalizado:</b>
                    <br>
                    Ponte en contact con <b>planespersonalizados@tintracker.es</b> para que podamos ofrecerte un plan único para ti.
                </li>
            </ul>
        </p>
    </section>
    <br>
    <hr>
    <br>
    <section id="anual">
        <h2 class="titulo smallcaps">Anualidad</h2>
        <br>
        <p>
            Hay una sola licencia anual.<br>
            Se paga previo uso.<br>
            Tiene un coste de 370€.<br>
            <br>
            En caso de que uses un codigo de referencia, tienes un 10% de descuento.<br>
            <br>
            <h3 class="titulo smallcaps">Qué ventajas tiene:<br></h3>
            <ul>
                <li>
                    Acceso a la versión de ese año para siempre.
                </li>
                <li>
                    Recopilación de actualizaciones del año anterior. Y actualizaciones necesarias de seguridad.
                </li>
                <li>
                    Soporte técnico solo para problemas de seguridad.
                </li>
            </ul>
            <br>
            <h3 class="titulo smallcaps">Más en detalle:<br></h3>
            <ul>
                <li>
                    <b>Acceso al programa de por vida.</b>: A partir de la fecha de compra, el programa estará disponible para usarlo en cualquier momento.
                </li>
                <li>
                    <b>Recopilación de actualizaciones</b>: La licencia anual recopila todas las actualizaciones del año anterior y futuras actualizaciones de seguridad. Si se quisiera tener las nuevas actualizaciones, se debería comprar una nueva licencia anual. Las recopilaciones de actualizaciones, se harán de todas las actualizaciones entre el 1 de Enero y el 31 de Diciembre del año anterior, y se liberarán la primera semana de Enero. Si se compra en Enero de 2021, da acceso a el programa en el estado que estuviese el 31 de diciembre de 2020. Si se compra en Diciembre de 2022, da acceso a el programa en el estado que estuviese el 31 de diciembre de 2021.
                </li>
                <li>
                    <b>Soporte técnico</b>: Soporte <em>solo</em> para problemas de seguridad. Cualquier ocurrencia de fallo del funcionamiento del programa, se asume corregida en futuras versiones. El soporte será básico: problemas de acceso a la web, problemas con la activación o instalación... Solo se prestará soporte de corrección de errores en caso de que afecte al funcionamiento integral y seguridad del programa.
                </li>
            </ul>
        </p>
    </section>
</section>