<link rel="stylesheet" href="referal.css" />
<script src="referal.js"></script>
<section id="referal">
    <h1 class="titulo smallcaps">Referals, comerciales y marketing distribuido.</h1>
    <hr>
    <br>
    <br>
    <div id="landing">
        <p>
            Este es el proyecto de referncias o referals.<br>
            Al apuntarte a este proyecto se te ofrecerá la oportunidad de ganar 0,2% por cada venta de la suscripción a TINTRACKER, durante el tiempo que el cliente este suscrito.<br>
            O un 2,5% de la venta de la versión anual.<br>
            En beneficio de los clientes que captes, ellos tendrán un més gratis a partir del cual pagarán la suscripción a precio normal.<br>
            O en caso de la versión anual, un descuento del 10%.<br>
            <br>
            <br>
            Una vez registres tu email abajo, se te enviará un código de acceso a tu espacio donde podrás encontrar toda la información que necesitarás para poder operar con TINTRACKER y ofrecer a tus clietnes las mejores ofertas en software dedicado.<br>
            Además, te recomendamos que te suscribas a la newsletter para poder infromar a tus clientes de los nuevos servicios y actualizaciones.<br>
            Una vez accedas a tu usuario podrás darte de baja de la newsletter y/o el proyecto de referals.
        </p>
        <br>
        <br>
        <div class="vertical centering">
            <div class="centering">
                <button id="suscribirse" class="btn check true" style="width: 30vw;">
                    Suscribirse a la newsletter: 
                    <label id="suscribirse_text" class="smallcaps">Sí</label>
                </button>
            </div>
            <br>
            <div class="centering">
                <span class="input-email">
                    <input id="email" class="text-input" style="width:85%;" type="email" autocomplete="email" placeholder="Tu correo electrónico">
                    <button id="enviar" class="submit btn">Enviar</button>
                </span>
            </div>
            <div class="centering">
                <span id="error" style="display: none;">No se ha podido enviar los datos al servidor por que:${error}</span>
            </div>
        </div>
    </div>
    <div id="leaving" class="vertical centering">
        <p class="centering">
            Gracias por participar en el sistema de referals! Revisa tu correo electrónico en un par de minutos.<br>
            Al participar también te has suscrito la newsletter! De ahora en adelante recibirás nuestras últimas noticias!
        </p>
        <br>
        <br>
        <form action="/" method="get" class="centering">
                <button class="btn">Inicio</button>
        </form>
    </div>
</section>