<link rel="stylesheet" href="myspace.css" />
<script src="myspace.js"></script>
<section id="myspace">
    <p>
        Sólo tú y nadie más.<br>
        El vacío y la nada, solos contigo.<br>
        Sólos, los demás y tú.
    </p>
    <br>
    <hr>
    <br>
    <h1>
        TU ESPACIO Y TÚ
    </h1>
    <br>
    <hr>
    <br>
    <!-- <p>
        En el equipo de TinTracker valoramos mucho la unicidad y la identidad de las personas.<br>
        Por ello, dedicamos este hueco en nuestra página para tí.<br>
        Como puedes ver no tiene mucho, esta un poco vacío.<br>
        Esto es por qué queremos que te sientas con la libertad de pulsar cualquiera de los dos botones que hay.
     </p> -->
    <br>
    <br>
    <div class="centering">
        <button class="btn" formaction="/usuarios/form?new=true" title="Empezar la revolución tecnológica!">Crear mi usuario</button>
        <button class="btn" formaction="/usuarios/form" title="A seguir revolucionando el mundo!">Ver mi usuario</button>
    </div>
</section>